# .env.example
DATABASE_URL=postgresql://postgres.avtrmcwcqgsbakgcnbkp:SGS_Joselito-2026@aws-1-eu-west-1.pooler.supabase.com:6543/postgres
VITE_SUPABASE_URL=https://avtrmcwcqgsbakgcnbkp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF2dHJtY3djcWdzYmFrZ2NuYmtwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4ODM5MDQsImV4cCI6MjA4ODQ1OTkwNH0.7YKvv0u2QyWqiTPS9tCCMckaBlGKyVTGAS0iPa7oeC4
